.details-card{
  width: 280pt;
  background-color: #aadafe;
}

.selected-img {
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  height: 180pt;
}

.user-profile-pic {
  height: 36px;
  width: 36px;
}